.products-wrapper {
    width: 100%;
    height: 85vh;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    &::-webkit-scrollbar {
        width: 0px;
    }
}