.products-wrapper {
    width: 85vw;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    &::-webkit-scrollbar {
        width: 0px;
    }
}