.footer {
    background-image: url('../public/img/header-background.gif');
    padding: 20px 100px;
    color: white;
    width: 100%;
    position: relative;
    top: 110px;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    @include flex-row(space-around, center);
}
