.footer {
    background-color: #ffc500;
    padding: 10px;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    @include flex-row(space-around, center);
    z-index: 4;
    transition: all 0.5s ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: drop-shadow(2px 4px 6px black);
    &:hover {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}
