li {
    list-style: none;
}

.main__aside {
    flex: 1 0 20%;
    border: 1px solid white;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.basket {
    cursor: pointer;
    transition: all 1s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.products {
    flex: 1 0 80%;
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 10px;
        font-size: 18px;
    }
    &__item {
        flex: 0 1 15%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        padding-bottom: 10px;
        list-style: none;
        border: 1px solid white;
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
        &:not(:nth-child(6n)) {
            margin-right: 2%;
        }
    }
    &__header {
        height: 50px;
        border: 1px solid white;
        margin-bottom: 20px;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__discount {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        background-color: yellow;
        color: black;
        padding: 8px;
        border-radius: 50%;
    }
}

.products-available {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    background-color: oldlace;
    color: black;
}

.products-price {
    position: relative;
    &::after {
        position: absolute;
        content: '$';
    }
}

.products-image {
    transition: all 1s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

.product-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sort {
    &__list {
        position: relative;
        z-index: 3;
        top: 72px;
        padding: 5px;
        cursor: pointer;
    }
    &__item {
        transform: scale(0);
        width: 100%;
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &__input {
        background-color: transparent;
        outline: none;
        border: 1px solid white;
        padding: 5px 10px;
        color: white;
    }
}

.sort-arrow {
    width: 15px;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 3;
    cursor: pointer;
}

.image-container {
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin-bottom: 5px;
}

.btn {
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }

    &__reset,
    &__copy,
    &__add,
    &__details {
        padding: 5px 10px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: white;
            color: black;
        }
        &:active {
            transform: scale(0.9);
        }
    }

    &__reset,
    &__copy {
        padding: 10px 20px;
    }
}

.filter {
    &__category {
        border: 1px solid white;
        width: 80%;
        margin-bottom: 20px;
    }
    &__subcategory {
        border: 1px solid white;
        width: 80%;
        margin-bottom: 20px;
    }
    &__price {
        border: 1px solid white;
        width: 80%;
    }
}

.filter-category-title,
.filter-subcategory-title,
.filter-price-title {
    background-color: white;
    color: black;
    padding: 5px;
}

.filter-price-title {
    margin-bottom: 20px;
}

.form {
    &__category {
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        height: 150px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    &__subcategory {
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        height: 185px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

.category-label,
.subcategory-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.category-input,
.subcategory-input {
    cursor: pointer;
    position: relative;
    z-index: 2;
    opacity: 0;
}

.checkbox {
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

.checked {
    &::after {
        position: absolute;
        content: url('../../assets/images/svg/check.svg');
        width: 10px;
        top: -8px;
        right: 7px;
    }
}

.range-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.slider-control {
    position: relative;
    min-height: 50px;
}

.form-control {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: white;
}

.form-control-container__time {
    text-align: center;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    pointer-events: all;
    width: 14px;
    height: 14px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #c6c6c6;
    z-index: 2;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #c6c6c6;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:hover {
    background-color: beige;
}

input[type='range']::-webkit-slider-thumb:active {
    transform: scale(0.9);
}

input[type='number'] {
    color: black;
    text-align: center;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
    -webkit-appearance: none;
    margin: 0;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    appearance: none;
    height: 2px;
    position: absolute;
    top: 25%;
    background-color: #c6c6c6;
    pointer-events: none;
}

.rs-logo {
    cursor: pointer;
    position: relative;
    filter: invert(1);
    width: 100px;
    height: 43px;
    &::after {
        position: absolute;
        content: url(../../assets/images/svg/rsschool.svg);
        width: 100px;
    }
}

.anneli-github-logo {
    cursor: pointer;
    position: relative;
    &::before {
        color: white;
        position: absolute;
        content: 'Anneli';
        top: 30px;
        left: 8px;
        font-size: 18px;
    }
    &::after {
        position: absolute;
        content: url(../../assets/images/svg/github.svg);
        top: -20px;
        width: 50px;
    }
}

.alex-github-logo {
    cursor: pointer;
    position: relative;
    &::before {
        color: white;
        position: absolute;
        content: 'Alex';
        top: 30px;
        left: 8px;
        font-size: 18px;
    }
    &::after {
        position: absolute;
        content: url(../../assets/images/svg/github.svg);
        top: -20px;
        width: 50px;
    }
}
