@import '../../sass/abstracts/mixins';

.details-page {
    @include flex-column();
    padding-top: 50px;

    .details-block {
        .details-section {
            @include flex-row();
            gap: 3%;
            padding: 10px 15px;
        }
    }
}
