@import '../../../sass/abstracts/mixins';

.nav-list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    margin-bottom: 1em;

    .nav-list-btn,
    .nav-list-btn.active {
        color: #7f0909;
        display: block;
        background: #ffc500;
        text-decoration: none;
        position: relative;
        height: 34px;
        line-height: 34px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px;
        user-select: none;
        border: 0px solid transparent;
        cursor: url("../../../public/icons/cursor2.png"), auto;
    }

    .nav-list-btn:first-child {
        padding-left: 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .nav-list-btn:last-child,
    .nav-list-btn.active {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-right: 0;
        padding-right: 15px;
    }

    .nav-list-btn:first-child::before,
    .nav-list-btn:last-child:after {
        border: none;
    }

    .nav-list-btn::before,
    .nav-list-btn::after,
    .nav-list-btn.active::before {
        content: '';
        position: absolute;
        top: 0;
        border: 0 solid #ffc500;
        border-width: 17px 10px;
        width: 0;
        height: 0;
    }

    .nav-list-btn::before,
    .nav-list-btn.active::before {
        left: -20px;
        border-left-color: transparent;
    }

    .nav-list-btn::after {
        left: 100%;
        border-color: transparent;
        border-left-color: #ffc500;
    }

    .nav-list-btn:hover {
        background-color: #7f0909;
        color: #ffc500;
    }

    .nav-list-btn:hover::before {
        border-color: #7f0909;
        border-left-color: transparent;
    }

    .nav-list-btn:hover::after {
        border-left-color: #7f0909;
    }

    .nav-list-btn.active {
        color: #ffc500;
        background-color: #7f0909;
    }

    .nav-list-btn.active::before {
        border-color: #7f0909;
        border-left-color: transparent;
    }
}
