.body {
    background-color: #7f0909;
}
.cart-wrapper {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding-bottom: 100px;
    input {
        background-color: transparent;
    }
    .cart-products {
        background-attachment: fixed;
        width: 60%;
        flex: 0 1 60%;
        margin-right: 15px;
        height: 70vh;
    }

    .block-title {
        font-size: 28px;
    }

    .cart-products {
        .block-header {
            width: 100%;
            display: flex;
            align-items: center;
            color: #ffc500;
            padding: 10px 20px;
            margin-bottom: 10px;
            justify-content: space-between;
            background-color: transparent;
        }
        .quantity,
        .current-page {
            background-color: transparent;
            color: #ffc500;
            pointer-events: none;
            text-align: center;
            font-size: 20px;
        }

        .label,
        .btns-container-switch-pages {
            display: flex;
            align-items: center;
        }

        .title-of-container-switch-btns {
            margin-right: 10px;
        }

        .description-content {
            padding: 10px;
        }

        .btn-switch-page-left,
        .btn-switch-page-right {
            position: relative;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            &:hover {
                transform: scale(0.9);
            }
        }

        .btn-switch-page-left::after {
            position: absolute;
            content: url('../../public/icons/arrow-down.svg');
            top: -20px;
            right: -35px;
            transform: rotate(90deg);
        }

        .btn-switch-page-right::after {
            position: absolute;
            content: url('../../public/icons/arrow-down.svg');
            top: -15px;
            right: 20px;
            transform: rotate(-90deg);
            margin-left: 10px;
        }
        .pagination {
            border: 1px solid #ffc500;
            color: #ffc500;
            padding: 5px;
            width: 100px;
            &::placeholder {
                color: #ffc500;
            }
        }
    }

    .stock-value {
        cursor: auto;
        width: 40px;
        text-align: end;
        font-size: 20px;
    }
    .quantity-items-cart {
        text-align: center;
        width: 50px;
        font-size: 20px;
    }

    .cart-products .block-section {
        padding: 10px;
        height: 88%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }

        .block-header,
        .description-header {
            padding: 5px 0px;
            position: relative;
            background-color: transparent;
            color: #7f0909;
            &::after {
                position: absolute;
                content: '';
                bottom: 0px;
                width: 105%;
                height: 1px;
                background-color: #7f0909;
            }
        }
        .cart-list {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .cart-item {
            background-color: #ffc500;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            width: 100%;
            color: #7f0909;
            border-radius: 5px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        .cart-item-image {
            width: 130px;
            border-radius: 10px;
        }

        .number-product {
            flex: 1 0 2%;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #7f0909;
        }

        .cart-item-image {
            flex: 0 1 20%;
            margin-right: 10px;
            cursor: pointer;
        }

        .description-cart-item {
            margin-right: 10px;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
        }

        .mini-description-item {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 70%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .block-title {
            text-align: center;
            color: #7f0909;
        }

        .values-cart-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            width: 40%;
        }

        .raiting-discount-container {
            display: flex;
            justify-content: space-around;
        }

        .raiting,
        .discount {
            text-decoration: underline;
        }

        .add-del-btns-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .add-item {
            background-color: transparent;
            border: none;
            position: relative;
            width: 20px;
            height: 20px;
            &:hover {
                transform: scale(0.9);
            }
            &::after {
                position: absolute;
                content: url('../../public/icons/plus.svg');
                width: 20px;
                top: -2px;
                left: -15px;
            }
        }

        .delete-item {
            background-color: transparent;
            border: none;
            position: relative;
            width: 20px;
            height: 20px;
            &:hover {
                transform: scale(0.9);
            }
            &::before {
                position: absolute;
                content: url('../../public/icons/minus.svg');
                width: 20px;
                top: -2px;
                left: 0px;
            }
        }
        .container {
            width: 25%;
        }
        .total-price {
            position: relative;
            font-size: 20px;
            width: 50px;
            text-align: left;
        }
        .span {
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 20px;
        }
    }

    .summary {
        width: 25%;
        align-self: center;
        border: 1px solid #ffc500;
        border-radius: 5px;

        .block-header {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            margin-bottom: 10px;
            color: #ffc500;
        }
        .block-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            input {
                text-align: center;
                background-color: transparent;
                color: #ffc500;
            }
        }
        .block-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .quantity-products,
        .total-sum,
        .promecode-input,
        .promo-test {
            color: #ffc500;
            margin-bottom: 10px;
        }

        .promecode-input {
            border: 1px solid #ffc500;
            border-radius: 5px;
        }

        .total-sum-value {
            position: relative;
            font-size: 20px;
        }

        .quantity-products-value {
            font-size: 20px;
        }

        .promecode-input {
            background-color: transparent;
            padding: 5px 20px;
            color: #ffc500;
            &:focus {
                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            }
            &::placeholder {
                color: #ffc500;
            }
        }

        .form-buy {
            padding: 10px;
        }

        .promo-test {
            font-size: 16px;
            opacity: 0.1;
            &:hover {
                opacity: 1;
            }
        }

        .btn-buy-now {
            background-color: transparent;
            border: 1px solid #ffc500;
            border-radius: 5px;
            color: #ffc500;
            padding: 5px 20px;
            &:hover {
                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            }
        }
    }
}
