.products {
    flex: 1 0 80%;
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 10px;
        font-size: 18px;
    }
    &__item {
        flex: 0 1 15%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        padding-bottom: 10px;
        list-style: none;
        border: 1px solid white;
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
        &:not(:nth-child(6n)) {
            margin-right: 2%;
        }
    }
    &__header {
        height: 50px;
        border: 1px solid white;
        margin-bottom: 20px;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__discount {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        background-color: yellow;
        color: black;
        padding: 8px;
        border-radius: 50%;
    }
}

.products-available {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    background-color: oldlace;
    color: black;
}

.products-price {
    position: relative;
    &::after {
        position: absolute;
        content: '$';
    }
}

.products-image {
    transition: all 1s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

.product-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}