* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.passed-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    .passed-time {
        background-color: transparent;
        font-size: 20px;
        color: #ffc500;
    }
}

.form-wrapper {
    top: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #7f0909d6;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 30%;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 2px black);
    input,
    select,
    option {
        cursor: url("../../public/icons/cursor2.png"), auto;
    }
    form {
        background-color: #ffc500;
        color: #7f0909;
        border-radius: 5px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 600px;
        padding: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        .button {
            margin-top: 20px;
            width: 25%;
            align-self: center;
        }
    }

    form .inputBox {
        position: relative;
        margin-top: 20px;
    }

    form .inputBox span {
        display: block;
        color: #7f0909;
        padding-bottom: 5px;
        font-size: 16px;
    }

    form .inputBox input,
    form .inputBox select {
        width: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: #7f0909;
        margin-right: 10px;
    }

    form .flexbox {
        display: flex;
        gap: 15px;
    }

    form .flexbox .inputBox {
        flex: 1 1 150px;
    }

    form .submit-btn:hover {
        letter-spacing: 2px;
        opacity: 0.8;
    }

    .card-container {
        position: absolute;
        height: 215px;
        width: 350px;
        transform: scale(0.7) translate(165%, -20%);
        filter: drop-shadow(2px 2px 2px black);
    }

    .card-container .front {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, #7f0909, #ffc500);
        border-radius: 5px;
        backface-visibility: hidden;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        padding: 20px;
        transform: perspective(1000px) rotateY(0deg);
        transition: transform 0.4s ease-out;
    }

    .card-container .front .image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        height: 100px;
    }

    .card-container .front .image .chip {
        height: 50px;
    }

    .card-container .front .image .card {
        width: 130px;
    }

    .card-container .front .card-number-box {
        padding: 10px 0;
        font-size: 22px;
        color: white;
        height: 50px;
    }

    .card-container .front .flexbox {
        display: flex;
    }

    .card-container .front .flexbox .box:nth-child(1) {
        margin-right: auto;
    }

    .card-container .front .flexbox .box {
        font-size: 15px;
        color: white;
    }

    .card-container .back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, #7f0909, #ffc500);
        border-radius: 5px;
        padding: 20px 0;
        text-align: right;
        backface-visibility: hidden;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        transform: perspective(1000px) rotateY(180deg);
        transition: transform 0.4s ease-out;
    }

    .card-container .back .stripe {
        background: #000;
        width: 100%;
        margin: 10px 0;
        height: 50px;
    }

    .card-container .back .box {
        padding: 0 20px;
    }

    .card-container .back .box span {
        color: white;
        font-size: 15px;
    }

    .card-container .back .box .cvv-box {
        height: 40px;
        padding: 10px;
        margin-top: 5px;
        color: #333;
        background: #fff;
        border-radius: 5px;
        width: 100%;
    }

    .card-container .back .box img {
        margin-top: 10px;
        height: 30px;
    }

    .slash {
        opacity: 0;
    }

    .expiration {
        display: flex;
        justify-content: space-around;
    }

    .error-label {
        position: absolute;
        top: 15%;
        right: 2%;
        font-size: 12px;
        color: red;
    }

    .card-holder-name {
        max-width: 200px;
        overflow: hidden;
    }
}
