.container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 30%;
    margin: 0 auto;
    form {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 600px;
        padding: 0px 20px 20px 20px;
    }

    form .inputBox {
        position: relative;
        margin-top: 20px;
    }

    form .inputBox span {
        display: block;
        color: #999;
        padding-bottom: 5px;
        font-size: 16px;
    }

    form .inputBox input,
    form .inputBox select {
        width: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: #444;
        margin-right: 10px;
    }

    form .flexbox {
        display: flex;
        gap: 15px;
    }

    form .flexbox .inputBox {
        flex: 1 1 150px;
    }

    form .submit-btn {
        width: 100%;
        background: linear-gradient(45deg, black, white);
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s linear;
    }

    form .submit-btn:hover {
        letter-spacing: 2px;
        opacity: 0.8;
    }

    .card-container {
        position: fixed;
        height: 215px;
        width: 350px;
        transform: scale(0.7) translateY(-205%);
    }

    .card-container .front {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, black, white);
        border-radius: 5px;
        backface-visibility: hidden;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        padding: 20px;
        transform: perspective(1000px) rotateY(0deg);
        transition: transform 0.4s ease-out;
    }

    .card-container .front .image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        height: 100px;
    }

    .card-container .front .image .chip {
        height: 50px;
    }

    .card-container .front .image .card {
        width: 130px;
    }

    .card-container .front .card-number-box {
        padding: 10px 0;
        font-size: 22px;
        color: #fff;
        height: 50px;
    }

    .card-container .front .flexbox {
        display: flex;
    }

    .card-container .front .flexbox .box:nth-child(1) {
        margin-right: auto;
    }

    .card-container .front .flexbox .box {
        font-size: 15px;
        color: #fff;
    }

    .card-container .back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, black, white);
        border-radius: 5px;
        padding: 20px 0;
        text-align: right;
        backface-visibility: hidden;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        transform: perspective(1000px) rotateY(180deg);
        transition: transform 0.4s ease-out;
    }

    .card-container .back .stripe {
        background: #000;
        width: 100%;
        margin: 10px 0;
        height: 50px;
    }

    .card-container .back .box {
        padding: 0 20px;
    }

    .card-container .back .box span {
        color: #fff;
        font-size: 15px;
    }

    .card-container .back .box .cvv-box {
        height: 40px;
        padding: 10px;
        margin-top: 5px;
        color: #333;
        background: #fff;
        border-radius: 5px;
        width: 100%;
    }

    .card-container .back .box img {
        margin-top: 10px;
        height: 30px;
    }

    .exp-month {
        position: relative;
        &::after {
            position: absolute;
            content: '/';
            right: -12px;
        }
    }

    .expiration {
        display: flex;
        justify-content: space-around;
    }

    .error-label {
        position: absolute;
        top: 15%;
        right: 2%;
        font-size: 12px;
        color: red;
    }

    .card-holder-name {
        max-width: 200px;
        overflow: hidden;
    }
}
