.button-first,
.button-second,
.btn-another-view,
.btn-start-view {
    padding: 5px 10px;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px black);
}

.button-first,
.btn-another-view,
.btn-start-view  {
    border-color: #7f0909;
    color: #ffc500;
    box-shadow: 0 0 40px 40px #7f0909 inset, 0 0 0 0 #7f0909;
    &:hover,
    &.active {
        box-shadow: 0 0 10px 0 #7f0909 inset, 0 0 10px 4px #7f0909;
        color: #7f0909;
    }
}

.button-second {
    border-color: #ffc500;
    color: #7f0909;
    box-shadow: 0 0 40px 40px #ffc500 inset, 0 0 0 0 #ffc500;
    &:hover,
    &.active {
        box-shadow: 0 0 10px 0 #ffc500 inset, 0 0 10px 4px #ffc500;
        color: #ffc500;
    }
}
