@import '../../../../sass/abstracts/mixins';

.filter {
    &__category {
        border: 1px solid white;
        width: 80%;
        margin-bottom: 20px;
    }
    &__subcategory {
        border: 1px solid white;
        width: 80%;
        margin-bottom: 20px;
    }
}

.filter-category-title,
.filter-subcategory-title {
    background-color: white;
    color: black;
    padding: 5px;
}

.filter-price-title {
    margin-bottom: 20px;
}

.form {
    &__category {
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        height: 150px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    &__subcategory {
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        height: 185px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

.category-label,
.subcategory-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 25px;//

    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.category-input,
.subcategory-input {
    cursor: pointer;
    position: relative;
    z-index: 2;
    opacity: 0;
}

.amount-block {
    position: relative;
    // right: 10%;
    right: 0px;
    @include flex-row(center,center);
    flex-wrap: nowrap;
    

    .amount-input {
        width: 15px;
        height: 15px;
        border: 1px solid white;
        font-size: inherit;
        font-family: inherit;
        background-color: transparent;
        color: white;
        border: none;
        vertical-align: middle;
    }
}

.checkbox {
    position: absolute;
    z-index: 1;
    // top: 20%;
    top: 15%;
    // right: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid white;

    &.checked {
        &::after {
            position: absolute;
            content: url('../../../../public/icons/check.svg');
            width: 10px;
            top: -8px;
            right: 7px;
        }
    }
}
